.about-container {
  width: 50vw;
  text-align: justify;
  font-size: 16px;
  margin: 0 auto; /* Center horizontally */
  padding: 30px;
}

.paragraph {
  line-height: 2rem;
  font-size: 18px;
  border-radius: 7px;
  color: #121212;
  background-color: rgb(26, 173, 131, 0.1);
  margin-bottom: 20px; /* Add space between paragraph containers */
  padding: 15px; /* Add padding within each paragraph container */
}

.about-author {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}
